# Host url
HOST_URL=http://localhost:5000

# Create Github OAuth App and add client id and secret here
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

# Set any random string for session management
SESSION_SECRET=